@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transform: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.btn{
    display: inline-block;
    font-size: 1.7rem;
    color: red;
    background: none;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border: 1px solid red;
    cursor: pointer;
    border-radius: .5rem;
}

.btn:hover{
    background: red;
    color: #fff;
}

section{
    padding: 3rem 7%;
}

.titulo{
    font-size: 2.8rem;
    color: #130f40;
    padding: 1.2rem 0;
    text-align: center;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}

.titulo span{
    color: red;
}

.top{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
    background: red;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.top .logo{
    font-size: 2.5rem;
    color:white;
    font-weight: bolder;
}

.top .logo i{
    color: yellow;
    padding-right: .5rem;
    rotate: 175deg;
}

.top .menu-site a{
    color: white;
    font-size: 1.7rem;
    margin: 0 1rem;

}

.top .menu-site a:hover{
    color: yellow;
}

.top .icons div{

    color: white;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
}

.top .icons div:hover{
    color: yellow;
}

#menu{
    display: none;
}

.top .carrinho{
    width: 35rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    position: absolute;
    top: 115%;
    right: -105%; /*Para esconder o botao*/
    padding: 2rem;
}

.top .carrinho.active{
    right: 2rem;
    transition:  .4s linear;
}

.top .carrinho .box{
    position: relative;
    display: flex;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
    align-items: center;
}

.top .carrinho .box .fa-times{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #777;
    cursor: pointer;
}

.top .carrinho .box .fa-times:hover{
    color: red;
}

.top .carrinho .box img{
    height: 10rem;
}

.top .carrinho .box .content h3{
    font-size: 1.7rem;
    padding: .5rem;
    color: #130f40;

}

.top .carrinho .box .content span{
    font-size: 1.7rem;
    color: #777;
}

.top .carrinho .box .content span.multiplica{
    margin: 0.5rem;
}

.top .carrinho .total{
    font-weight: 2.2rem;
    color: #130f40;
    text-align: center;
}

.top .carrinho .btn{
    width: 100%;
    text-align: center;
}

.top .login-form{
    position: absolute;
    top: 115%;
    right: -105%; /*Para esconder*/
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border-radius: .5rem;
    width: 35rem;
    padding: 2rem;
}

.top .login-form.active{
    right: 2rem;
    transition: .4s linear;
}

.top .login-form h3{
    font-size: 2.2rem;
    color: #130f40;
    text-transform: uppercase;
    margin-bottom: .7rem;
    text-align: center;

}

.top .login-form .box{
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    text-transform: none;
    color: #130f40;
}

.top .login-form .lembrar-senha{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .7rem 0;
}

.top .login-form .lembrar-senha label{
    font-size: 1.5rem;
    color: #777;
    cursor: pointer;
}

.top .login-form .btn{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

.msflix-destaque{
    padding: 0;
}

.msflix-destaque .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;

}

.msflix-destaque .slide .content{
    display: none;
    width: 60rem;
    text-align: center;

}

.msflix-destaque .slide .content h3{
    font-size: 6rem;
    line-height: 1.3;
    color: #fff;
    padding: 2rem 0;
    animation: sliderMaykon 1s ease forwards;

}

.msflix-destaque .slide .content span{
    color: yellow;
}

.msflix-destaque .slide .content .btn{
    background-color: red;
    color: #fff;
}

.msflix-destaque .slide .content .btn:hover{
    background-color: yellow;
    color: #130f40;
    border: none;
    animation: sliderReveal 1s ease forwards;
}

.msflix-destaque .swiper-slide-active .content{
    display: inline-block;

}

.msflix-destaque .swiper-slide-active{
    animation: msflixScale 4s linear forwards;
}

@keyframes sliderMaykon{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes msflixScale{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.15);
    }
}

.swiper-button-next,
.swiper-button-prev{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    margin-left: 1.5rem;
    color: red;
    transform: translateY(-50%) rotate(45deg);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 1.5rem;
    transform: rotate(-45deg);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    color: #fff;
}

.destaque .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 2rem;
}

.destaque .box-container .box{
    position: relative;
    overflow: hidden;
    text-align: center;
    background: red;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.destaque .box-container .box .msimg{
    width: 100%;

}

.destaque .box-container .box .msimg img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*arruma a imagem de acordo com o box*/
}

.destaque .box-container .box .content{
    padding: 2rem;
}

.destaque .box-container .box .content h3{
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1rem;
}
/*como funciona*/
.como-funciona .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.como-funciona .box-container .box{
    flex: 1 1 25rem;
    text-align: center;
    padding: 1rem;
}

.como-funciona .box-container .box img{
    width: 170px;
    border: 1rem solid #fff;
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.como-funciona .box-container .box h3{
    font-size: 2.1rem;
    padding: 1rem;
    color: #130f40;
}

/*Loja msflix*/
.loja .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
}

.loja .box-container .box{
    text-align: center;
    overflow: hidden;
    padding: 0 2.5rem;
    position: relative;
}

.loja .box-container .box img{
    height: 29rem;
    transition: .4s linear; /*suaviza a animaçao ao passar o mouse*/
}

.loja .box-container .box img:hover{
    transform: scale(1.1);
}

.loja .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: #130f40;
}

.loja .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
}

.loja .box-container .box .estrelas i{
    font-size: 1.7rem;
    color: gold;
}

.loja .box-container .box .loja_valor{
    font-size: 2.5rem;
    margin-right: 1rem;
    font-weight: bolder;
    color: #130f40;
}

.loja .box-container .box .loja_valor span{
    color: red;
    font-weight: lighter;
    font-size: 1.5rem;
    text-decoration: line-through;
}
/*Empresa*/
.empresa{
    background-color: red;
}

.empresa .row{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    background: red;
    align-items: center;
}

.empresa .row .empresa-img{
    flex: 1 1 32rem;
}

.empresa .row .empresa-img img{
    width: 100%;
    box-shadow: 0 5rem 1rem rgba(0, 0, 0, 0.1);
}

.empresa .row .content{
    flex: 1 1 50rem;
}

.empresa .row .content h3{
    font-size: 3.5rem;
    color: #fff;
}

.empresa .row .content h3 span{
    color: yellow;
}

.empresa .row .content p{
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 2;
}

.empresa .btn{
    color: #fff;
    border: 1px solid #fff;
    transition: .4s linear;
}

.empresa .btn:hover{
    background-color: #fffb00;
    color: #130f40;
    border: 1px solid #fff;
    transform: scale(1.1);
}

/*celular*/
@media(max-width: 991px) {
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem;
    }

    .top{
        padding: 2rem;
    }
    
}

@media(max-width: 768px){
    .top .icons #menu{
        display: inline-block;

    }

    .top .menu-site{
        position: absolute;
        top: 110%;
        right: 110%;
        width: 30rem;
        background-color: #fff;
        border-radius: .5rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0.1);
    }

    .top .menu-site.active{
        right: 2rem;
        transition: .4s linear;
    }

    .top .menu-site a{
        display: block;
        font-size: 2rem;
        margin: 2rem 2.5rem;
    }

    .msflix-destaque .slide .content h3{
        font-size: 4rem;
    }

    .top .menu-site a{
        color: #000;
        border-bottom: 1px solid #000;
        border-bottom-style: dotted;
    }
}

@media(max-width: 450px){

    html{
        font-size: 50%;
    }

    .msflix-destaque .slide .content h3{
        font-size: 3.5rem;
    }

    .top .menu-site a{
        color: #000;
        border-bottom: 1px solid #000;
        border-bottom-style: dotted;
    }

}